/* IMPOSTAZIONI GENERALI */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* HEADER */

/* MAIN */
.box {
  text-align: center;
  padding-bottom: 35px;
}
.box img {
  width: 100%;
  padding: 40px 70px;
  box-sizing: border-box;
  padding-bottom: 25px;
}

header {
  width: 100%;
  background-color: rgb(16, 152, 185);
}

body {
  background-image: url("../img/sfondo.png");
  border: 1px solid blue;
  margin: 0;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}
.image {
  padding-top: 10px;
  overflow: auto;
}
.main-box {
  height: 400px;
  width: 90%;
  background-color: white;
  margin-top: 30px;
}

.box p {
  padding: 3px;
  color: white;
  font-family: "Poppins";
  font-size: larger;
  font-weight: bold;

}

img + p {
  padding-bottom: 20px;

}


/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
